<%- include('header.ejs') %>

 <h2 class="float-left">Active Proxies</h2>
<a class="btn btn-lg btn-primary float-right" href="/proxies/create">Create Proxy</a>

<br><br><br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Proxy Name</th>
            <th scope="col">Proxy Instance URL</th>
            <th scope="col">Model</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for (proxy of proxies){ %>
        <tr>
            <td><%= proxy.apiName %></td>
            <td><a href='https://api-spec-proxy.herokuapp.com/proxies/<%= proxy.id %>/proxy/'>https://api-spec-proxy.herokuapp.com/proxies/<%= proxy.id %>/proxy/</a></td>
            <td><a href="/proxies/<%= proxy.id %>/model">View Model</a></td>
            <td><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('footer.ejs') %>)


